body{
background-color:#CCCCCC;
}

h1,h2,h3
{
 font-family: Arial, Tahoma;  
}

p
{
 font-size:25px;
}

section
{
background-color:#FFFFFF;
font-family: Courier, Arial;
padding:20px
}

nav {
   font-size: 22px;
}

footer {
background-color:#333333;
font-family: Courier, Arial;
padding:16px;
color:#FFFFFF;
font-size: 20px;
text-align:center;
font-weight: bold;
}

img, video, div, section {
     background-color: transparent;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

nav
{
background-color:#777777;
height:180px
font-family:bold;
font-weight:bold;
}

nav ul
{
height:auto;
margin:0px;
padding: 5px 0px;
}

nav li
{
display:inline;
padding:20px;
margin:0px;
}

nav a
{
text-decoration:none;
color:#FFFFFF;
padding:8px 8px;
}


nav a:hover
{
background-color:#FFFFFF;
color:#000000;
}


@media all and (min-width:960px)
{
body
{
width:960px;
margin:auto;
}
}

@media all and (max-width:640px)
{
nav
{
height:100%;
}

nav li
{
display:block;
padding:10xp;
margin:0px;
}
}


























